# ABSENTEEISM ML

## LOGISTIC REGRESSION

### Import relevant libraries

In [1]:
import pandas as pd
import numpy as np

### Load the data

In [4]:
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

### Create the targets

In [5]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [9]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [10]:
data_preprocessed['Excessive Absenteeism'] = targets

In [11]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

By considering median as cutoff , we have implicitly balanced the dataset to have half 1s and half 0s. A balance of 45 - 55 is always sufficient

In [12]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [13]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'],axis=1)

In [14]:
data_with_targets is data_preprocessed

False

In [15]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

### Select the inputs for the regression

In [16]:
data_with_targets.shape

(700, 15)

In [21]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [22]:
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1

 ### Standardize the data

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
absenteeism_scaler = StandardScaler()

In [25]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [26]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [29]:
scaled_inputs.shape

(700, 14)

### Splitting the dataset into training and test and shuffle

#### Import relevant modules

In [30]:
from sklearn.model_selection import train_test_split

#### Split

In [36]:
x_train,x_test,y_train,y_test = train_test_split(scaled_inputs,targets,train_size = 0.8,random_state = 20)

In [37]:
print(x_train.shape,y_train.shape)

(560, 14) (560,)

In [38]:
print(x_test.shape,y_test.shape)

(140, 14) (140,)

## Logistic regression with sklearn

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [41]:
reg = LogisticRegression()

In [42]:
reg.fit(x_train,y_train)

C:\Users\Parzival\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
reg.score(x_train,y_train)

0.7839285714285714

### Manually check the accuracy

In [48]:
model_outputs = reg.predict(x_train)
np.sum(model_outputs == y_train ) # total no of true entries

439

In [49]:
model_outputs.shape[0]

560

In [50]:
np.sum(model_outputs == y_train ) / model_outputs.shape[0]

0.7839285714285714

### Finding the intercept and coefficients

In [51]:
reg.intercept_

array([-0.21957576])

In [53]:
reg.coef_

array([[ 2.07452213,  0.33466331,  1.56097327,  1.32750188,  0.1878226 ,
        -0.07060017,  0.70649077, -0.03995965, -0.2009517 , -0.00462411,
         0.31937669, -0.13558227,  0.38168134, -0.33338757]])

In [55]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month value',
       'Day of the week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [56]:
feature_name = unscaled_inputs.columns.values

In [59]:
summary_table = pd.DataFrame(columns=['Feature name'],data = feature_name)

summary_table['Coefficients'] = np.transpose(reg.coef_)

In [60]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept',reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficients
0                 Intercept     -0.219576
1                  Reason_1      2.074522
2                  Reason_2      0.334663
3                  Reason_3      1.560973
4                  Reason_4      1.327502
5               Month value      0.187823
6           Day of the week     -0.070600
7    Transportation Expense      0.706491
8          Distance to Work     -0.039960
9                       Age     -0.200952
10  Daily Work Load Average     -0.004624
11          Body Mass Index      0.319377
12                Education     -0.135582
13                 Children      0.381681
14                     Pets     -0.333388

### Interpreting the coefficients

In [68]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficients)

In [69]:
summary_table.sort_values('Odds_ratio',ascending=False)
summary_table

               Feature name  Coefficients  Odds_ratio
0                 Intercept     -0.219576    0.802859
1                  Reason_1      2.074522    7.960741
2                  Reason_2      0.334663    1.397470
3                  Reason_3      1.560973    4.763455
4                  Reason_4      1.327502    3.771610
5               Month value      0.187823    1.206619
6           Day of the week     -0.070600    0.931834
7    Transportation Expense      0.706491    2.026866
8          Distance to Work     -0.039960    0.960828
9                       Age     -0.200952    0.817952
10  Daily Work Load Average     -0.004624    0.995387
11          Body Mass Index      0.319377    1.376270
12                Education     -0.135582    0.873207
13                 Children      0.381681    1.464745
14                     Pets     -0.333388    0.716492